*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    color:rgb(13, 13, 13);
    text-decoration: none;
    font-family:sans-serif ;
}

body{
    background-color:#ffffff;
    color: rgb(14, 14, 14);
    text-align: center;   
}
header{
    width: 100%;
    background-color: rgba(37, 37, 38, 0.913);
    display:block;
}
form{
    display: inline-block;
    position: relative;
}
.form-control{
    min-width:300px;
}

.primery-bg-color{
    background-color: #ffffff;
}
.secondary-bg-color{
    background-color:rgba(137, 137, 143, 0.913);
}

#navbar .navbar-nav{
    flex-direction: row;
    justify-content: end;
   
}
#navbar a,
#navbar button{
   color:rgb(0, 0, 0);
   }
.navbar-brand{
    font-weight: 700;
    width:100%;
    text-align: center;
}
@media(min-width:768px){
    .navbar-brand{
    text-align: left; 
}
}
#navbar-items{
    justify-content: space-between;
    align-items: center;
    }
@media(min-width:768px){
    .navbar-items{
    min-width: 100%;
    display: flex; 
    }
}
#search-form{
    min-width:100%;
    margin:12em 0;
    border:2px solid #2525255a;
    border-radius: 5px;
    padding: 2px 2px;
    
    
}
@media(min-width:768px){
    #search-form{
    width: 100%;
    margin:0; 
    }
}
#search-form input{
    background-color: transparent;
    border:none;
    color:rgba(7, 6, 6, 0.913);

}
#search-form input:focus{
 box-shadow: none;
}
/*navbar bottom*/
#bottom-navbar-container{
    font-weight: 700;
    color: #ffff;
    background-color: rgba(37, 37, 38, 0.913);
    
  }
#bottom-navbar-container a{
    color: rgba(255, 255, 255, 0.913);
    
}


/* footer */
#contact-area{
    text-align: center;
}
.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
}