*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: rgba(185, 185, 232, 0.663);
    display:flex;
    justify-content: space-around;
}

#logo {
    width: 16px;
    align-items: ;
}