*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:rgba(230, 230, 245, 0.663);
}
header{
    width: 100%;
    height: 300px;
    background-color: rgb(62, 62, 69);
    display:block;
}
.p{
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
}
.container-fluid{
        align-items: flex-end;

}
